@model IEnumerable<VTracker.Models.Vehicle>

@{
    ViewBag.Title = "My Vehicles";
}

<h4>My Vehicles</h4>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<div ng-controller="vehicleCtrl">
    <img src="~/Content/ajax-loader.gif" ng-show="loading" />
    <div class="spinner" ng-show="!loading">

        <table class="table table-striped table-bordered table-condensed table-responsive">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleName)
                </th>
                <th></th>
            </tr>

            <tr ng-repeat="data in dataList">
                <td ng-bind="data.VehicleName"></td>
                <td>
                    <button ng-click="editCategory(category)" class="btn btn-primary btn-xs">Edit</button>
                    <button ng-click="deleteCategory(category)" class="btn btn-danger btn-xs">Delete</button>
                </td>
            </tr>
        </table>
    </div>
</div>