@using PagedList.Mvc;

@{
    ViewBag.Title = "My Activities";
}

<h4>My Activities</h4>
<p class="lead">
    @ViewBag.Message
</p>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })&nbsp;
    @Html.ActionLink("Download", "Download", null, new { @class = "btn btn-primary" })&nbsp;

</p>


@{
    var previousItem = "";
}
<div ng-controller="activityCtrl">
    <img src="~/Content/ajax-loader.gif" ng-show="loading" />
    <div class="spinner" ng-show="!loading">

        <table class="table table-striped table-bordered table-condensed table-responsive">
            <tr>
                <th colspan="7" class="text-center">Gas Purchases</th>
            </tr>
            <tr>
                <th>Vehicle</th>
                <th>Activity Date</th>
                <th>Total Miles</th>
                <th>Gallons</th>
                <th>MPG</th>
                <th>Cost</th>
                <th></th>
            </tr>
            <tr ng-repeat="activity in dataList | filter: { Category: { Description: 'Gas' } }">
                <td ng-bind="activity.Vehicle.VehicleName"></td>
                <td>{{ activity.ActivityDate | parseDate | date : "MM/dd/yyyy" }}</td>
                <td ng-bind="activity.Miles | number:2"></td>
                <td ng-bind="activity.Gallons | number:2"></td>
                <td>{{ activity.Miles / activity.Gallons | number:2}}</td>
                <td ng-bind="activity.Cost| currency"></td>
                <td style="width:60px">
                    <button ng-click="editActivity(activity)" class="btn btn-primary btn-xs">Edit</button>
                    <button ng-click="deleteActivity(activity)" class="btn btn-danger btn-xs">Delete</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="activity_divider"></div>

    <table class="table table-striped table-bordered table-condensed table-responsive" ">
        <tr>
            <th colspan="7" class="text-center">Non-Gas Purchases</th>
        </tr>
        <tr>
            <th>Vehicle</th>
            <th>Activity Date</th>
            <th>Mileage</th>
            <th>Description</th>
            <th>Cost</th>
            <th>Comments</th>
            <th></th>
        </tr>

        @{
            previousItem = "";
        }

        <tr ng-repeat="activity in dataList | filter: { Category: { Description: '!Gas' } }">
            <td ng-bind="activity.Vehicle.VehicleName"></td>
            <td>{{ activity.ActivityDate | parseDate | date : "MM/dd/yyyy" }}</td>
            <td ng-bind="activity.Mileage | number:2"></td>
            <td ng-bind="activity.Category.Description"></td>
            <td ng-bind="activity.Cost| currency"></td>
            <td ng-bind="activity.Comments"></td>
            <td style="width:60px">
                <button ng-click="editActivity(activity)" class="btn btn-primary btn-xs">Edit</button>
                <button ng-click="deleteActivity(activity)" class="btn btn-danger btn-xs">Delete</button>
            </td>
       </tr>

    </table>
</div>