@using Microsoft.AspNet.Identity
@using VTracker.Extensions

    @{
        ViewBag.Title = "Home Page";
    }

<p class="lead"></p>

@if (!Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-4">
            <h3>Getting started</h3>
            <p class="text-primary">
                Welcome to Vehicle Tracker. A simple app to help you track the maintenance of your vehicles. 
            </p>
            <p>
                Sign in below, or if you're new @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) for a free account now!
            </p>
            <p>
                Why sign up? You can track your gas purchases (we'll calculate your Miles Per Gallon for you); track your oil changes, and any other items you'd like. Once you register,
                we will create some standard categories for you; you can add as many as you like. So register now, create your vehicles (again, as many as you'd like), and start keeping track.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>
                @Html.Partial("_Login")
            </p>
        </div>
    </div>
}

else

{


    <p>
        <h3>A few tips...</h3>
        <ul>
            <li>You can use the "quick links" in the menu to quickly add gas purchases and oil changes.</li>
            <li>You can add multiple items at a time by clicking the "Save and Create Another" buttons on the entry pages.</li>
            <li>You can download your activities into Excel; click the "Excel" button on the @Html.ActionLink("Activities detail page", "Index", "Activity").</li>
        </ul>
        

    </p>
}